body {
  font-size: 16px;
  color: #fff;
  background-color: #a4dbd1;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #b7ba56;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-align: left;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
/* END HEADER */

/** HOME PAGE **/
.menu-tile {
  height: 1000px;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #000;
  overflow: hidden;
  background-color: #b7ba56;
  padding-left: 20px;
  padding-right: 20px;
}

/* END HOME PAGE */


/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
 	/* Header */	
  	#collapsable-nav a { /* Collapsed nav menu text */
    	font-size: 1.2em;
  	}
  	/* End Header */

  	/* Main Content*/
  	.menu-tile {

  	}
  	/* End Main Content */
}